.input {
  border: 2px solid #26c0ab;
  background-color: #f4fafa;
  border-radius: 8px;
  padding: 0 1em;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input > input {
  border: 0;
  width: 100%;
  background-color: #f4fafa;
}